!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Frans Party"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Frans Party", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => asset_path("perl.png"), :rel => "icon", :type => "image/png"}/
    %link{:href => asset_path("perl.png"), :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    %nav.navbar.navbar-party.mb-4
      .container
        = link_to photos_path, class: "navbar-brand fw-bold" do
          = image_tag "perl.png", height: 64, alt: "pearl"
          Fran's Party
        = link_to "Upload Photos", new_photo_path, class: "btn btn-party btn-sm"
    .container
      = yield
    - if admin_signed_in?
      .position-fixed.bottom-0.end-0.p-3{style: "z-index: 1000;"}
        = link_to "Log Out", session_path, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-secondary opacity-50", style: "font-size: 0.7rem;"
    - else
      .position-fixed.bottom-0.end-0.p-3{style: "z-index: 1000;"}
        = link_to "!", new_session_path, class: "btn btn-sm btn-outline-secondary opacity-50", style: "font-size: 0.6rem;"
